---
layout: page
title: "Timeline"
date: 2018-02-01 10:00
author: engin.polat
group: navigation
order: 4
---
<style>
.timeline ul {
  margin-top:10px;
  padding: 0;
}
.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 3px;
  margin: 0 auto;
  padding-top: 40px;
  background: #282828;
} 
.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: inherit;
}
.timeline ul li a::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}
.timeline ul li a {
  color: #fff;
  display: inline-block;
  position: relative;
  bottom: -7px;
  width: 300px;
  padding: 0;
  background: #86ab08;
}
.timeline ul li:nth-child(odd) a {
  left: 30px;
}
.timeline ul li:nth-child(odd) a::before {
  left: -10px;
  border-width: 8px 10px 8px 0;
  border-color: transparent #86ab08 transparent transparent;
}
.timeline ul li:nth-child(even) a {
  left: -325px;
}
.timeline ul li:nth-child(even) a::before {
  right: -10px;
  border-width: 8px 0 8px 10px;
  border-color: transparent transparent transparent #86ab08;
}
.timeline ul li a time {
  display: block;
  background-color: #4f6605;
  padding: 5px;
}
.timeline ul li a span {
  display: block;
  padding: 5px;
}
.timeline ul li::after {
  background: #86ab08;
}
@media screen and (max-width: 900px) {
  .timeline ul li a {
    width: 250px;
  }
  .timeline ul li:nth-child(even) a {
    left: -289px;
  }
}
@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
   
  .timeline ul li a {
    width: calc(100vw - 91px);
  }
   
  .timeline ul li:nth-child(even) a {
    left: 45px;
  }
}
</style>
Filtreler :
{% for category in site.categories %}
  <label class="btn btn-default active" data-category="{{ category[0] | replace: '#', 'Sharp' }}">{{ category[0] }}</label>
{% endfor %}
<section class="timeline">
  <ul>
    {% for post in site.posts %}
    <li class="show {% for c in post.category %}{{ c | replace: '#', 'Sharp' }} {% endfor %}">
      <a href="{{ post.url }}">
        <time>{{ post.date | date: "%Y-%m-%d" }}</time>
        <span>{{ post.title }} ({% for c in post.category %}{{ c }}{% endfor %})</span>
      </a>
    </li>
    {% endfor %}
  </ul>
</section>
<script>
  document.querySelectorAll('label.btn').forEach(function(button) {
    button.addEventListener('click', function(e) {
      var categoryName = e.target.dataset.category;

      if(e.target.classList.contains('active')) {
        e.target.classList.remove('active');
        document.querySelectorAll('li.show.' + categoryName).forEach(function(li) {
          li.classList.remove('show');
          li.classList.add('hidden');
        });
      } else {
        e.target.classList.add('active');
        document.querySelectorAll('li.hidden.' + categoryName).forEach(function(li) {
          li.classList.remove('hidden');
          li.classList.add('show');
        });
      }
    });
  })
</script>