::selection {
  background-color: #323b43;
  color: #ededed;
}
body { letter-spacing: 0.01rem; }
.mt-20 { margin-top: 20px; }
.p-8 { padding:8px; }
.mb-10 { margin-bottom:10px; }
.entry-content a { text-decoration: underline; }
.site-title { font-size: 1em; display: inline; margin-top: 14px; }
.site-menu {
  display: none;
}
.col-xs-10-12,
.col-sm-10-12,
.col-md-10-12,
.col-lg-10-12 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-xs-10-12 {
  width: 10%;
  float: left;
}
@media (min-width: 768px) {
  .site-menu {
    display: block;
  }
  .site-title {
    display: none;
  }
  .col-sm-10-12 {
    width: 10%;
    float: left;
  }
}
@media (min-width: 992px) {
  .col-md-10-12 {
    width: 10%;
    float: left;
  }
}
@media (min-width: 1100px) {
  .site-title {
    display: inline-block;
  }
  .col-lg-10-12 {
    width: 10%;
    float: left;
  }
}
.site-logo {
  width:36px;
  height:36px;
  margin-right:6px;
  display:inline-block;
  vertical-align:middle;
  background:url(/assets/images.png) -60px 40px;
  margin-top:2px;
}
.profile-image {
  padding:30px;
  background:url(/assets/images.png) 0 60px;
}
.creative-commons {
  float:right;
  display:block;
  width:80px;
  height:40px;
  background:url(/assets/images.png) -137px -168px;
  text-indent:-9999px
}
.entry-title {
  padding:5px 5px 8px 8px;
  background-color:#222;
  background-image:linear-gradient(to bottom, #3c3c3c 0, #222 100%);
  border-radius:4px;
  color: #bfc6cd;
}
.entry-title a {
  color: #bfc6cd;
}
.entry-title a:hover {
  color: #fff;
}
.well li a {
  color: #515c67;
}
.well .list-unstyled li {
  margin-bottom:5px;
}
.btnz {
  float:left;
  padding:5px;
}
.btnz.share {
  color:#efefef;
}
.btnz.share:hover {
  color: #fff;
}
.btnz.calendar {
  margin-left:7px;
  margin-top:0px;
}
.btnz.calendar .calendar-icon {
  background: url(/assets/images.png) 18px 61px;
  width: 16px;
  height: 16px;
  display: inline-block;
  vertical-align: middle;
}
.btnz.share.facebook {
  background-color:#3b5998;
}
.btnz.share.twitter {
  background-color:#55acee;
}
.btnz.share.linkedin {
  background-color:#0077b5;
}
.btnz.share.github {
  background-color:#323b43;
}
.info .share:first-of-type {
    border-radius: 3px 0 0 3px;
}
.info .share:last-of-type {
    border-radius: 0 3px 3px 0;
}
.sprite {
  width: 20px;
  height: 20px;
  text-indent: -9999px;
  margin: 2.5px;
  display: inline-block;
}
.sprite.linkedin-logo {
  background: url(/assets/images.png) -140px -148px;
}
.sprite.twitter-logo {
  background: url(/assets/images.png) -60px -148px;
}
.sprite.rss-logo {
  background: url(/assets/images.png) -80px -148px;
}
.sprite.youtube-logo {
  background: url(/assets/images.png) -180px -148px;
}
.sprite.meetup-logo {
  background: url(/assets/images.png) -100px -148px;
}
.sprite.channel9-logo {
  background: url(/assets/images.png) -160px -148px;
}
.sprite.me-logo {
  background: url(/assets/images.png) -120px -148px;
}
.sprite.mvp-logo {
  background: url(/assets/images.png) -200px -148px;
}
.sprite.rd-logo {
  background: url(/assets/images.png) -116px -168px;
}
.sprite.email-logo {
  background: url(/assets/images.png) -96px -168px;
}
.navbar-fixed-top {
  border-bottom: 3px solid #86ab08;
}
.chevron {
  border-style: solid;
  border-width: 0.20em 0.20em 0 0;
  content: '';
  display: inline-block;
  height: 0.50em;
  position: relative;
  transform: rotate(-45deg);
  vertical-align: top;
  width: 0.50em;
  margin: 10px 3px 0 0;
  text-indent: -9000px;
}
.about-image-0 {
  background-image:url(https://aboutme.imgix.net/users/p/o/l/polatengin_1498303086_09.jpg?q=80&dpr=2&auto=format&fit=crop&w=45&h=45&crop=faces);
  width:90px;
  height:90px;
  margin-bottom:15px;
}
.about-image-1 {
  background-image:url(https://aboutme.imgix.net/users/p/o/l/polatengin_1468943917_54.jpg?q=80&dpr=2&auto=format&fit=crop&w=45&h=45&crop=faces);
  width:90px;
  height:90px;
  margin-bottom:15px;
}
.about-image-2 {
  background-image:url(https://aboutme.imgix.net/users/p/o/l/polatengin_1469788651_09.jpg?q=80&dpr=2&auto=format&fit=crop&w=45&h=45&crop=faces);
  width:90px;
  height:90px;
  margin-bottom:15px;
}
.about-image-3 {
  background-image:url(https://aboutme.imgix.net/users/p/o/l/polatengin_1470300995_36.jpg?q=80&dpr=2&auto=format&fit=crop&w=45&h=45&crop=faces);
  width:90px;
  height:90px;
  margin-bottom:15px;
}
.about-image-4 {
  background-image:url(https://aboutme.imgix.net/users/p/o/l/polatengin_1471095970_11.jpg?q=80&dpr=2&auto=format&fit=crop&w=45&h=45&crop=faces);
  width:90px;
  height:90px;
  margin-bottom:15px;
}
.about-image-5 {
  background-image:url(https://aboutme.imgix.net/background/users/p/o/l/polatengin_1468943825_91.jpg?q=80&dpr=2&auto=format&fit=crop&w=45&h=45);
  width:90px;
  height:90px;
  margin-bottom:15px;
}




body.dark {
  background-color: #333;
  color: #eee;
}
body.dark pre {
  padding: 20px;
  color: #ffffff;
  background: #434343;
}

body.dark .well {
  background-image: linear-gradient(to bottom, #303030 0, #222 100%);
  border-color: #111;
}
body.dark .pager .disabled>a, body.dark .pager .disabled>a:hover, body.dark .pager .disabled>a:focus, body.dark .pager .disabled>span {
  background-color: #333;
}
body.dark .pager li>a, body.dark .pager li>span {
  background-color: #333;
  border: 1px solid #222;
}

body.dark .gist .gist-file {
  border-color: #111;
}

body.dark .gist .line-data, body.dark .gist .file-data, body.dark .gist .line-numbers {
  color: #fff;
  background: #434343; }
body.dark .gist .gist-meta {
  color: #fff;
  background: #222; }
body.dark .gist .pl-vo, body.dark .gist .pl-v, body.dark .gist .pl-vpf {
  color: #fff; }
body.dark .gist .pl-en, body.dark .gist .pl-c1, body.dark .gist .pl-s3 {
  color: #ECAC29; }
body.dark .gist .pl-k, body.dark .gist .pl-st {
  color: #7373F2; }
body.dark .gist .pl-s1, body.dark .gist .pl-pds {
  color: #76A22F; }
  body.dark .gist .pl-s .pl-s1, body.dark .gist .pl-smi {
    color: #fff;
  }

.dark .gist .gist-data {
  background-color: #111;
  border-bottom: 1px solid #111;
}

.dark .gist-data tbody { background-color: #222; }


.dark .gist-data tbody td:nth-of-type(1) {
  color: #2B91AF !important;
}


.dark .gist-data tbody td:nth-of-type(2){
  color: #FFFFFF !important;
}


.dark .pl-c
{
  color: #57A64A !important;
}


.dark .pl-k, tbody tr:first-child .blob-code, tbody tr:last-child .blob-code
{
  color: #569CD6 !important;
}


.dark .pl-en
{
  color: #FFFFFF !important;
}


.dark .pl-c1
{
  color: #FFFFFF !important;
}

.dark .pl-pds
{
  color: #D69D85 !important;
}


.dark .pl-s
{
  color: #D69D85 !important;
}
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin: 15px 0;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aaa;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.slider.round {
  border-radius: 10px;
}

.slider.round:before {
  border-radius: 50%;
}
#mode { display: inline; padding: 0; }