---
layout: compress
---
<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png" />
  <link rel="manifest" href="/manifest.json" />
  <link rel="mask-icon" href="/assets/safari-pinned-tab.svg" color="#86ab08" />
  <meta name="msapplication-TileColor" content="#86ab08" />
  <meta name="theme-color" content="#86ab08" />
  <title>{{ page.title }}</title>
  <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}" />
  <link rel="search" type="application/opensearchdescription+xml" title="{{ site.author.name }} Blog Arama" href="/searchdefinition.xml" />
  <meta name="description" content="{{ page.title }}" />
  <meta name="author" content="{{ site.author.name }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="post-date" content="{{ page.date | date:"%Y-%m-%d" }}" />
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans" />
  <link rel="stylesheet" href="/assets/bundle.min.css?v20180514" async />
  <link rel="alternate" href="/atom.xml" type="application/atom+xml" title="ATOM Feed" />
  <link rel="alternate" href="/rss.xml" type="application/rss+xml" title="RSS Feed" />
  <meta property="og:image" content="/assets/logo-192.png" />
  <meta property="og:image:height" content="192" />
  <meta property="og:image:width" content="192" />
  <meta property="og:title" content="{{ site.author.name }}" />
  <meta property="og:description" content="Programcıdan Programcıya" />
  <meta property="og:url" content="{{ site.url }}{{ page.url | replace:'index.html','' }}" />
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="z-index:99;">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed navbar-toggler-right" onclick="document.getElementsByClassName('site-menu')[0].style.display = document.getElementsByClassName('site-menu')[0].style.display=='none'?'block':'none'">
          <span class="sr-only">Menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/" style="padding:0px 10px;">
          <span class="site-logo"></span>
          <h1 class="site-title">{{ site.title }}</h1>
        </a>
      </div>
      <div class="site-menu navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li {% if page.url == "/kategori/windows/" %}class="active"{% endif %}><a {% if page.url == "/kategori/windows/" %}class="active"{% endif %} href="/kategori/windows/" title="Windows kategorisindeki makaleler">Windows</a></li>
          <li {% if page.url == "/kategori/unity3d/" %}class="active"{% endif %}><a {% if page.url == "/kategori/unity3d/" %}class="active"{% endif %} href="/kategori/unity3d/" title="Unity3D kategorisindeki makaleler">Unity3D</a></li>
          <li {% if page.url == "/kategori/web/" %}class="active"{% endif %}><a {% if page.url == "/kategori/web/" %}class="active"{% endif %} href="/kategori/web/" title="Web kategorisindeki makaleler">Web</a></li>
        {% assign sorted_pages = site.pages | sort:"order" %}
        {% for node in sorted_pages %} {% if node.title != null and node.group == 'navigation' %}
          {% if page.url == node.url %}
          <li class="active"><a href="{{node.url}}" class="active">{{node.title}}</a></li>
          {% else %}
          <li><a href="{{node.url}}">{{node.title}}</a></li>
          {% endif %}
          {% endif %}
        {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
  <div class="container" style="margin-top:50px;margin-bottom:30px;padding:0;">
    <div class="col-sm-9">{{ content }}</div>
    <div class="col-sm-3" style="margin-top:2px;">
      <div class="well well-sm row" style="margin:18px 0;padding:7px 5px;">
        <a rel="external noopener" class="col-md-10-12 sprite linkedin-logo" title="LinkedIn Profil" href="http://www.linkedin.com/in/polatengin" target="_blank">LinkedIn Profil</a>
        <a rel="external noopener" class="col-md-10-12 sprite twitter-logo" title="Twitter Profil" href="http://www.twitter.com/polatengin" target="_blank">Twitter</a>
        <a rel="external noopener" class="col-md-10-12 sprite rss-logo" title="Bu siteyi takip et" href="/rss.xml" target="_blank">RSS</a>
        <a rel="external noopener" class="col-md-10-12 sprite youtube-logo" title="enginpolat.tv" href="https://www.youtube.com/user/polatengintube" target="_blank">enginpolat.tv</a>
        <a rel="external noopener" class="col-md-10-12 sprite meetup-logo" title="Meetup Group" href="http://www.meetup.com/Istanbul-Windows-Development-Meetup" target="_blank">Meetup Group</a>
        <a rel="external noopener" class="col-md-10-12 sprite channel9-logo" title="Channel 9 Profil" href="https://channel9.msdn.com/Niners/enginpolat" target="_blank">Channel 9 Profil</a>
        <a rel="external noopener" class="col-md-10-12 sprite me-logo" title="Hakkımda" href="http://enginpolat.me" target="_blank">Hakkımda</a>
        <a rel="external noopener" class="col-md-10-12 sprite mvp-logo" title="Engin Polat MVP" href="http://mvp.microsoft.com/en-us/mvp/Engin%20Polat-4038162" target="_blank">Engin Polat MVP</a>
        <a rel="external noopener" class="col-md-10-12 sprite rd-logo" title="Engin Polat RD" href="http://rd.microsoft.com/engin.polat#InTheSpotlightHeading" target="_blank">Engin Polat RD</a>
        <a rel="external noopener" class="col-md-10-12 sprite email-logo" title="Bana (engin[at]enginpolat[.]com) email ile ulaşın" href="mailto:engin@enginpolat.com" target="_blank">Bana (engin[at]enginpolat[.]com) email ile ulaşın</a>
      </div>
      <div class="media well well-sm">
        <h4>Engin Polat hakkında</h4>
        <div class="media-left" style="padding-top:4px;">
          <div class="media_object profile-image"></div>
        </div>
        <div class="media-body">
          <p>Chief Architect, Microsoft RD, Microsoft MVP</p>
          <p style="margin:0">Ada ve Ege'nin babası ;)</p>
        </div>
      </div>
      <div class="well well-sm">
        <h4>Seriler</h4>
        <ul class="list-unstyled">
          <li><a href="/etiketler#bknyv-ref">Bu Kodda Ne Yanlış Var?</a></li>
          <li><a href="/etiketler#quiz-ref">Kısa Sınavlar</a></li>
          <li><a href="/etiketler#euler-ref">Euler</a></li>
          <li><a href="/kategori">Kategoriler</a></li>
          <li><a href="/etiketler">Etiketler</a></li>
        </ul>
      </div>
      <div class="well well-sm">
        <h4>Kategoriler</h4>
        <ul class="list-unstyled">
          {% for category in site.categories %}
            <li><a href="/kategori/#{{ category[0] }}-ref">{{ category[0] }}</a> <span>({{ category[1].size }})</span></li>
          {% endfor %}
        </ul>
      </div>
      <div class="well well-sm">
        <h4>Arşiv</h4>
        <ul class="list-unstyled">
          {% assign counter = 0 %}
          {% for post in site.posts %}
            {% assign thisyear = post.date | date: "%B %Y" %}
            {% assign prevyear = post.previous.date | date: "%B %Y" %}
            {% assign counter = counter | plus: 1 %}
            {% if thisyear != prevyear %}
              <li><a href="/arsiv#{{ post.date | date:"%B %Y" }}">{% assign m = post.date | date: "%-m" %}{% case m %}{% when '1' %}Ocak {% when '2' %}Şubat {% when '3' %}Mart {% when '4' %}Nisan {% when '5' %}Mayıs {% when '6' %}Haziran {% when '7' %}Temmuz {% when '8' %}Ağustos {% when '9' %}Eylül {% when '10' %}Ekim {% when '11' %}Kasım {% when '12' %}Aralık {% endcase %}{{ post.date | date: "%Y" }}</a> <span>({{ counter }})</span></li>
              {% assign counter = 0 %}
            {% endif %}
          {% endfor %}
        </ul>
      </div>
      <div class="well well-sm">
        <a rel="noopener" href="http://mvp.microsoft.com/en-us/mvp/Engin%20Polat-4038162" target="_blank"><h4 class="sprite mvp-banner">Engin Polat (MVP - Microsoft Most Valuable Professional)</h4></a>
        <a rel="noopener" href="http://rd.microsoft.com/engin.polat#InTheSpotlightHeading" target="_blank"><h4 class="sprite rd-banner">Engin Polat (Microsoft RD - Microsoft Regional Director)</h4></a>
      </div>
      <div class="well well-sm">
        <h4>İstatistik</h4>
        <p>Makale Adedi: {{ site.posts | size }}</p>
      </div>
      <a rel="license noopener" class="creative-commons" target="_blank" href="http://creativecommons.org/licenses/by-nc-nd/3.0/">Creative Commons Lisansı</a>
    </div>
  </div>
  <nav class="navbar-inverse navbar-fixed-bottom" style="z-index:99;min-height:25px;">
    <div class="container">
      <a class="chevron" href="/" onclick="document.documentElement.scrollTop=0;return false;">Yukarı</a>
      <span class="text-muted" style="margin-top:2px;display:inline-block;">Tüm hakları saklıdır &copy; 2009 - {{ site.time | date: '%Y' }} {{ site.author.name }} ({{ site.tagline }})</span>
    </div>
  </nav>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-11607391-1', 'auto');
    ga('send', 'pageview');
  </script>
  <script>
    if ('IntersectionObserver' in window) {
      let observer = new IntersectionObserver(changes => {
        changes.forEach(change => {
          if (change.intersectionRatio > 0) {
            change.target.src = change.target.dataset.src;
            observer.unobserve(change.target);
          }
        });
      });
      const imgs = [...document.querySelectorAll('.lazy')];
      imgs.forEach(img => observer.observe(img));
    } else {
      document.querySelectorAll('.lazy').forEach(a => { a.src = a.dataset.src; });
    }
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('/sw.js?20180514', { scope: './' });
    }
  </script>
</body>
</html>